header {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-bottom: 15px;

        .navbar-brand {
            order: 1;
            margin-right: 56px;
        }

        .contact-now {
            order: 3;
            box-sizing: border-box;
            width: 100%;
            margin-top: 15px;
        }

        .navbar-menu {
            order: 2;
            margin-left: auto;
            position: relative;
        }

        .main-menu {
            display: none;
            flex-direction: column;
            position: absolute;
            z-index: 2;
            right: -15px;
            top: 93px;
            padding: 10px 0;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.7);
            width: 320px;

            > li {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        @media (min-width: 500px) {
            padding-top: 39px;
            padding-bottom: 39px;

            .main-menu {
                top: 71px;
            }

            .navbar-menu {
                order: 3;
            }

            .contact-now {
                margin-top: 0;
                order: 2;
                width: auto;
            }
        }

        @media (min-width: 660px) {
            .navbar-menu {
                order: 3;
                box-sizing: border-box;
                width: 100%;
                margin-top: 15px;
            }

            .contact-now {
                order: 2;
                margin-left: auto;
            }

            .main-menu {
                display: flex !important;
                position: static;
                background-color: transparent;
                width: auto;
                flex-direction: row;
                margin: 0 auto;
            }

            .main-menu-button {
                display: none;
            }
        }

        @media (min-width: 1120px) {
            .navbar-menu {
                order: 2;
                width: auto;
                margin: 0;
            }

            .contact-now {
                order: 3;
            }
        }
    }

    .main-menu {
        display: none;
        flex-direction: column;

        a {
            color: $nav-color;
        }

        li {
            padding: 0 18px;
        }

        li.active a, li:hover a {
            color: $nav-color-active;
        }
    }

    .main-menu-button {
        display: block;

        a {
            color: white;
        }
    }

    .navbar-menu {
        display: flex;
        align-items: center;
    }

    .contact-now {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .navbar-call {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        a {
            display: flex;
            align-items: center;
        }
    }

    .navbar-call {
        .icon-call-out {
            color: $decoration-color_1;
        }

        .phone-numger {
            padding-left: 13px;
            padding-right: 22px;
            color: white;
            white-space: nowrap;

            &:hover {
                color: $nav-color-active;
            }
        }
    }

    .navbar-mail {
        a {
            display: flex;
            width: 31px;
            height: 31px;
            border-radius: 15px;
            background-color: $decoration-color_1;

            .icon-envelope-open {
                color: white;
                margin: auto;
            }

            &:hover .icon-envelope-open {
                color: $nav-color-active;
            }
        }
    }
}