// COLORS
$h-color-inverted: white;
$h-color: #343a3b;
$title-color: #343a3b;

$nav-color-active: #ffac55;
$nav-color: #e2e2e2;
$nav-color-phone-number: white;

$footer-text-color: #838b8c;
$footer-title-color: #e1e1e1;;

$description-color: #838b8c;
$description-color-inverted: #ddf8ff;;

$decoration-color_1: #03b6e7;
$decoration-color-2: #f6961b;

$decoration-color-3: #16d428;
$decoration-color-4: #ffac56;
$slider-marker-color: #16d428;

$features-footer-color: #565d5d;

$facebook-color: #385da5;
$twitter-color: #00b5da;
$instagram-color: #d4c5a8;
$linkedin-color: #1883bb;
$google-plus-color: #e4463b;

$footer-decoration-color: #323334;
$footer-input-color: #5e5e5e;

// FONTS
$main-font: 'Montserrat', sans-serif;
$description-font: 'Domine', serif;